.mainhead {
    text-align: center;
    font-size: 100px;
   
}




.pewdsimage  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }
figcaption{
    text-align: center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

body {
    background-color:beige
}

.p1{
    font-family: cursive;
    font-size: 20px;
    border-style: solid;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}
a {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: red;
  }
  
  a:active {
    color: red;
  }