.mainhead {
    text-align: center;
    font-size: 100px;
   
}


.pewdsimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 47%;
}

body {
    background-color:beige
}

.p1{
    font-family: cursive;
    font-size: 20px;
    border-style: dotted;
}